    h1 { background-color: aqua; }
    
    h2 { background-color: yellow; }
    /* 선택자 . : class 의미 */
    .red { background-color: red; }
    .green { background-color: green; }
    .yellow { background-color: yellow; }
    
    h2 { background-color: orange; }

    /* 선택자 # : id를 의미 */
    #yellow { background-color: yellow; }
    
    h3 { background-color: green; }
    
    /* 스타일 적용 우선순위 : id, class, 태그(tag) */
    #violet { background-color: violet; }
    
    div > p { background-color: coral;
        border: 1px solid black;
    }
    
    p.green { background-color: greenyellow; }